* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wrapper {
  max-width: 1200px;
  width: 70%;
  margin: 0 15%;
}
/*
.hero {
  background: url(img/banner-bg.png) no-repeat;
  height: 100vh;
  background-size: cover;
}
*/
nav#main-menu {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 40px;
  margin-top: 40px;
}

nav#main-menu h1 {
  background: url(img/logo.png) no-repeat;
  margin: 20px;
  text-indent: -10000px;
  width: 170px;
}

nav#main-menu ul {
  display: flex;
  text-align: end;
}

nav#main-menu ul li {
  align-self: center;
  padding: 0 25px;
}

nav#main-menu ul li a {
  text-decoration: none;
  color: #1e1e1e;
  font-size: 13px;
  font-weight: 500;
}

nav#main-menu ul li a:hover {
  color: #ff589e;
}
