* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background: #fff;
}

p {
  line-height: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  letter-spacing: 0.05em;
}

.wrapper {
  width: 70%;
  margin: 0 15%;
}

header {
  background: url(img/banner-bg.png) no-repeat;
  height: 95vh;
  background-size: cover;
  background-position: center center;
  padding-top: 40px;
  position: relative;
}

header .wrapper {
  display: flex;
  justify-content: center;
}

nav#main-menu {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px;
  position: fixed;
  z-index: 1;
  width: 70%;
  margin: 0 15%;
}

nav#main-menu h1 {
  background: url(img/logo.png) no-repeat;
  margin: 30px;
  text-indent: -10000px;
  width: 170px;
}

nav#main-menu ul {
  display: flex;
  text-align: end;
}

nav#main-menu ul li {
  align-self: center;
  padding: 0 25px;
}

nav#main-menu ul li:last-child {
  margin-right: 5px;
}

nav#main-menu ul li a {
  text-decoration: none;
  color: #1e1e1e;
  font-size: 13px;
  font-weight: 500;
}

nav#main-menu ul li a:hover,
nav#main-menu ul li a.active {
  color: #ff589e;
}

.banner-text {
  width: 35%;
  margin: 0 32.5%;
  text-align: center;
  position: absolute;
  top: 25%;
}

.banner-text h2 {
  color: white;
  font-size: 40px;
  font-weight: normal;
}

.banner-text h2 span {
  font-weight: bold;
}

.banner-text p {
  color: #fff;
}

.banner-text a {
  font-size: 13px;
  display: inline-block;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #ff589e;
  padding: 12px 20px;
  border-radius: 20px;
  letter-spacing: 0.25px;
  transition: all 0.5s ease 0s;
}

.banner-text a:hover {
  background-color: #8261ee;
}

#services {
  display: flex;
  transform: translateY(-70%);
}

#services .item-service {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 48px 0 rgb(0 0 0 / 10%);
  text-align: center;
  cursor: pointer;
  padding: 4% 5%;
}

#services .item-service div {
  background: #8261ee;
  display: inline-block;
  border-radius: 50%;
  padding: 20px;
}

#services .item-service div:hover {
  background: #ff589e;
}

#services .item-service:nth-child(2) {
  margin: 0 40px;
}

#services h5 {
  font-size: 18px;
  font-weight: normal;
}

#services p {
  color: #777;
  font-size: 13px;
}

#about .project {
  display: flex;
  justify-content: space-around;
}

#about .project-text {
  width: 40%;
  align-self: center;
}

#about .project-text h2 {
  font-weight: normal;
}

#about .project-text p {
  color: #777;
}

#about .business {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-around;
  margin-top: 100px;
  padding-top: 100px;
  border-top: 1px solid #ddd;
}

#about .business-text {
  width: 40%;
  align-self: center;
  padding: 10px 0;
}

#about .business-text h2 {
  font-weight: normal;
}

#about .business-text p {
  color: #777;
}

#work-process {
  background: url(img/work-process-bg.png) no-repeat center;
  text-align: center;
  background-size: cover;
  margin-top: 150px;
  min-height: 215px;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
}

#work-process h2 {
  color: #fff;
  font-weight: normal;
  font-size: 28px;
}

#work-process p {
  color: #fff;
  width: 50%;
  margin: 50px 25%;
}

#work-process ul {
  display: flex;
  margin-top: 40px;
}

#work-process ul li a {
  background: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin: 0 20px;
  border-radius: 16px;
  box-shadow: 0 2px 48px 0 rgb(0 0 0 / 8%);
  transition: all 0.3s ease;
}

#work-process ul li a:hover {
  transform: translateY(-10px);
}

#work-process ul li a::before {
  content: "";
  position: absolute;
  z-index: 1;
  background: #fff;
  width: 100%;
  opacity: 0.15;
  height: 100%;
  bottom: -10px;
  left: 0px;
  right: -20px;
  margin: auto;
  border-radius: 20px;
}

#work-process ul li a img,
#work-process ul li a strong,
#work-process ul li a span {
  display: block;
  padding: 5px 0;
  margin: 10px 10%;
}

#work-process ul li a img {
  margin: 10px auto;
}

#work-process ul li a strong {
  font-weight: normal;
  color: #1e1e1e;
}

#work-process ul li a span {
  color: #777;
  font-size: 14px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 1.2em;
}

#testimonials {
  text-align: center;
  margin: 150px 0;
}

#testimonials h2 {
  font-weight: normal;
  font-size: 28px;
  color: #1e1e1e;
}

#testimonials p {
  color: #777;
  width: 60%;
  margin: 50px 20%;
}

#testimonials ul {
  display: flex;
}

#testimonials .testimonials-item {
  background: #fff;
  box-shadow: 0 2px 48px 0 rgb(0 0 0 / 10%);
  margin: 0 20px;
  width: 33.33%;
  border-radius: 20px;
  padding: 10px;
}

#testimonials .testimonials-icon {
  height: 40px;
  margin: 20px auto;
  background: url(img/testimonial-icon.png) no-repeat center;
  display: block;
}

#testimonials .testimonials-item p {
  line-height: 1.5em;
  width: 90%;
  margin: 10px 5%;
}

#testimonials .testimonials-item img {
  display: inline-block;
  border-radius: 50%;
  transform: translateY(12px);
  margin-left: 20px;
}

#testimonials .testimonials-author {
  display: inline-block;
  text-align: left;
  margin: 0;
  width: 70%;
  transition: all 0.3s ease;
}

#testimonials .testimonials-author:hover {
  transform: translateX(20px);
}

#testimonials .testimonials-author p.name {
  margin: 0 0 0 10px;
}

#testimonials .testimonials-author p.position {
  margin: 0 0 25px 10px;
  color: #ff589e;
  font-size: 14px;
}
