* {
  font-family: Arial, Helvetica, sans-serif;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background: #fff;
}

p {
  line-height: 2em;
}

.wrapper {
  max-width: 1200px;
  width: 70%;
  margin: 0 15%;
}

header {
  background: url(img/banner-bg.png) no-repeat;
  height: 95vh;
  background-size: cover;
  background-position: center center;
  padding-top: 40px;
  position: relative;
}

nav#main-menu {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px;
}

nav#main-menu h1 {
  background: url(img/logo.png) no-repeat;
  margin: 30px;
  text-indent: -10000px;
  width: 170px;
}

nav#main-menu ul {
  display: flex;
  text-align: end;
}

nav#main-menu ul li {
  align-self: center;
  padding: 0 25px;
}

nav#main-menu ul li:last-child {
  margin-right: 5px;
}

nav#main-menu ul li a {
  text-decoration: none;
  color: #1e1e1e;
  font-size: 13px;
  font-weight: 500;
}

nav#main-menu ul li a:hover {
  color: #ff589e;
}

.banner-text {
  width: 30%;
  margin: 0 35%;
  text-align: center;
  position: absolute;
  top: 25%;
}

.banner-text h2 {
  color: white;
  font-size: 40px;
  font-weight: normal;
}

.banner-text h2 span {
  font-weight: bold;
}

.banner-text p {
  color: #fff;
}

.banner-text a {
  font-size: 13px;
  display: inline-block;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #ff589e;
  padding: 12px 20px;
  border-radius: 20px;
  letter-spacing: 0.25px;
  transition: all 0.5s ease 0s;
}

.banner-text a:hover {
  background-color: #8261ee;
}

#services {
  display: flex;
  transform: translateY(-70%);
}

#services .item-service {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 48px 0 rgb(0 0 0 / 10%);
  text-align: center;
  cursor: pointer;
  padding: 4% 3%;
}

#services .item-service div {
  background: #8261ee;
  display: inline-block;
  border-radius: 50%;
  padding: 20px;
}

#services .item-service div:hover {
  background: #ff589e;
}

#services .item-service:nth-child(2) {
  margin: 0 40px;
}

#services h5 {
  font-size: 18px;
  font-weight: normal;
}

#services p {
  color: #777;
  font-size: 13px;
}
